.dashboard {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 20rem 1fr;
  background: var(--primary-background);
  height: 100%;

  :global {
    header {
      grid-column: span 2;
      margin-bottom: var(--spacing-md);
    }

    .ant-alert-message,
    .ant-alert-error .ant-alert-icon {
      color: #ffd7ca;
    }

    .firstColumn {
      margin: 0 var(--spacing-md);
    }

    a {
      color: #ffe6da;
      text-decoration: underline;
    }

    a:hover {
      color: var(--neutral2-color);
    }

    .secondColumn {
      margin-right: var(--spacing-md);
    }

    .ant-alert-error {
      background-color: #f44336;
      border: 1px solid #ea3729;
    }

    .ant-empty-normal {
      color: #ffffffa3;
      margin: 0;
    }

    .ant-page-header-heading-sub-title {
      color: var(--neutral2-color);
      font-size: var(--spacing-sm);
      margin-left: var(--spacing-sm);
      letter-spacing: 2px;
    }
    .ant-page-header {
      background: var(--primary-color);
      padding: 0.6rem 1.5rem;
    }

    .ant-page-header-heading .ant-avatar {
      margin-right: 0;
    }

    .ant-page-header-heading-extra {
      display: flex;
      align-items: center;
      color: var(--neutral2-color);

      .extraAvatar {
        background: #c76330;
        margin-right: 0.5rem;
      }

      span {
        margin-right: var(--spacing-md);
      }
    }

    .ant-card-head {
      color: var(--neutral-color);
      background: var(--tertiary-background);
      border-bottom: 1px solid var(--linebreak-color);
    }

    .ant-card-body {
      color: var(--neutral-color);
      background: var(--secondary-background);
    }

    .ant-card {
      text-align: center;
      margin-bottom: var(--spacing-md);
    }
  }
}

@media all and (max-width: 500px) {
  .dashboard {
  }
}
