.login {
  width: 100%;

  :global {
    .ant-form-item-label > label {
      font-weight: bold;
    }
    .ant-form-item {
      display: inline-block;
    }
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: none;
    grid-auto-rows: max-content;
  }
}
