.login {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--primary-background);

  :global {
    h3 {
      color: var(--neutral-color);
      margin-bottom: var(--spacing-lg);
    }

    hr {
      border: 1px solid var(--linebreak-color);
      margin-bottom: 2rem;
    }

    img.logo {
      transition: all 0.3s ease-in-out 0s;
      filter: drop-shadow(0px 5px 5px #3a3939);
    }

    img.logo:hover {
      cursor: default;
      transform: scaleX(-1);
      transition: all 0.3s ease-in-out 0s;
    }

    h1 {
      color: var(--neutral-color);
      letter-spacing: 2px;
      span {
        color: var(--primary-color);
      }
      margin: var(--spacing-sm) 0;
    }

    .form {
      width: 20rem;
      text-align: center;
    }
  }
}

@media all and (max-width: 500px) {
  .login {
    padding-top: var(--spacing-sm);
    align-items: start;
  }
}
